.contact .contact-bottom {
  margin: 30px 0;
}

.contact-bottom .contact-titles {
  width: 75%;
}

.contact-bottom .contact-titles h4 {
  color: #e51414;
  font-weight: 500;
}

.contact-bottom .contact-titles h2 {
  font-size: 40px;
  font-weight: 600;
}

.contact-bottom .contact-titles p {
  font-size: 14px;
}

.contact-bottom .contact-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 100px;
}

.contact-bottom .contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-bottom .contact-form > div {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px);
  font-size: 14px;
  row-gap: 4px;
}

.contact-bottom .contact-form > div label span {
  color: #e51414;
}

.contact-bottom .contact-form > div:nth-child(3),
.contact-bottom .contact-form > div:nth-child(4) {
  flex-basis: 100%;
}

.contact-bottom .contact-form .form-button {
  background-color: black;
  color: #fff;
}

.contact-elements .contact-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-info-item {
  font-size: 14px;
}

.contact-info-item .contact-info-texts {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.contact-info-item .contact-street {
  margin: 15px 0;
}

.contact-info-item .contact-date {
  margin-top: 10px;
  font-size: 20px;
}

/* responsive */
@media (max-width: 768px) {
  .contact .contact-titles {
    width: 100%;
  }

  .contact-elements {
    flex-direction: column;
    gap: 50px !important;
  }
}

@media (max-width: 576px) {
  .contact-form {
    flex-direction: column;
  }
}

.contact a {
  text-decoration: none;
  color: #eeeeee;
}

.contact p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: rgb(0, 0, 0);
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
